body{
    color: var(--black);
}
a{
    color: black;
}
nav{
    background: #00000019;
}
.page-breadcrumb{
    color: aliceblue;
}
.page-breadcrumb a{
    color: azure;
}
.hero-overview img {
    display: none;
    width: 100%; /* Adjust to fit your layout */
    height: auto; /* Maintain aspect ratio */
}
.hero-overview img.active {
    display: block;
    filter: blur(1px);
}
.slideshow-controls{
    width: 400px;
    height: 10vh;
    background: aliceblue;
    position: absolute;
    bottom: 0%;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slideshow-controls button{
    padding: 0.5rem 1.5rem;
    border: none;
    height: 100%;
}
.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: var(--red);
    scale: 0.5;
    opacity: 0.5;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.6s ease;
}

.dot.active {
    scale: 1.1;
    opacity: 1;
}

.banner .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    gap: 1rem;
}
.banner .content h1{
    font-size: 3.5rem;
    text-shadow: 2px 2px 2px black;
    text-shadow: 2px 2px 2px black;
}
.banner .content h2{
    width: 80%;
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}
.banner .content button{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;
}



.promo{
    height: 150vh;
    color: var(--black);
}
.promo-container{
    height: 100%;
    flex-wrap: wrap;
    gap: 2rem;
}
.promo-box{
    width: 30%;
    height: 45%;
}

.about-text{
    flex-direction: column;
    padding: 5%;
    padding-left: 10%;
    position: relative;
    align-items: flex-start;
}
.about-head{
    padding: 0.5rem 0rem;
    border-radius: 0.5rem;
}

#school-img{
    opacity: 0;
    width: 400px;
    height: auto;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    position: absolute;
}
.about-heading{
    position: relative;
    padding: 1rem 0rem;
    width: max-content;
    font-weight: 700;
    color: var(--blue);
    font-size: 3rem;
    float: left;
}
.about-para{
    font-size: 1.2rem;
    word-spacing: 0.1rem;
    text-align: justify;
    margin-bottom: 1rem;
}
.about-para span{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--blue);
}
footer a{
    color: aliceblue;
}


.gallery-box{
    height: 120vh;
    padding: 4rem 0rem;
}
.gallery {
    width: 80%;
    height: 90%;
    display: flex;
    gap: 0px;
    flex-wrap: wrap;
    border: 1px solid black;
}
.gallery-item{
    width: 25%;
    height: auto;
}
.gallery-item img{
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
}
.gallery-item img:hover{
    filter: grayscale(0%);
}
.g-active img{
    filter: grayscale(0%);
}

.sports-list{
    margin: auto;
    width: 95%;
    height: 150vh;
    flex-direction: column;
}